In [18]:
import numpy as np
import pandas as pd
import ast
import re

fname='MSCI446_ Data - Sheet1.csv'

def convert_to_numpy_array(string: str):
    # Verify string is written like a python list
    stripped = string.strip()
    pattern = r"\[(.*)\]"
    match = re.match(pattern, stripped)
    if not match:
        raise NotImplementedError(f"{stripped}")
    # Group 1 captures the content inside the square brackets
    contents = match.group(1)
    
    try:
        # Use ast.literal_eval to safely evaluate string literals
        evaluated = ast.literal_eval(stripped)
        if type(evaluated) is not list:
            raise NotImplementedError()
        # series = pd.Series(evaluated)
        return np.array(evaluated)
    except (SyntaxError, ValueError):  # this occurs with the "Condition" column
        # If parsing as a list fails, split the contents within the square brackets by comma, 
        # interpret each value as a string and strip whitespace
        return np.array([ item.strip() for item in contents.split(',') ])

# Read CSV file with the custom function
numerical_vector_column_labels = ['Temperature (F)', 'Dewpoint (F)', 'Humidity (%)', 'Wind Speed (mph)', 'Pressure (in)', 'Percipitation (in)']
categorical_vector_column_labels = ["Condition"]
vector_column_labels = numerical_vector_column_labels + categorical_vector_column_labels

# Create a converters dictionary mapping each column to the converter function
converters = {col: convert_to_numpy_array for col in vector_column_labels}
df = pd.read_csv(fname, converters=converters)
df.shape

(305, 13)

In [19]:
print(df)

           Fire Name  Year Season Started Locations Affected  \
0         Cagua Fire  2020         Winter             Aragua
1      Vietnam Fires  2019         Summer            Da Nang
2    Chile Wildfires  2024         Winter          O'Higgins
3    Chile Wildfires  2024         Winter         Valparaíso
4    Chile Wildfires  2023         Winter              Maule
..               ...   ...            ...                ...
300              NaN  2020         Summer                 MB
301              NaN  2020         Summer                 MB
302              NaN  2020           Fall                 MB
303              NaN  2020         Summer                 NT
304              NaN  2020         Summer                 NT

                                      Temperature (F)  \
0    [75, 75, 73, 73, 72, 72, 71, 72, 72, 78, 82, 81]
1    [79, 81, 81, 82, 84, 86, 88, 90, 91, 93, 95, 97]
2    [78, 78, 78, 80, 82, 78, 77, 77, 77, 75, 73, 73]
3    [77, 81, 84, 88, 90, 90, 88, 86, 84, 81, 79, 75]
4    [72, 73, 73, 73, 75, 77, 75, 73, 70, 68, 64, 63]
..                                                ...
300  [54, 57, 59, 64, 68, 68, 72, 72, 73, 75, 75, 75]
301  [59, 59, 57, 59, 59, 66, 70, 72, 72, 73, 73, 72]
302  [37, 37, 37, 37, 39, 39, 41, 41, 43, 41, 39, 37]
303  [45, 45, 48, 52, 55, 55, 59, 61, 63, 63, 64, 63]
304  [63, 64, 66, 70, 73, 75, 79, 81, 82, 86, 88, 90]

                                         Dewpoint (F)  \
0    [75, 75, 76, 76, 76, 76, 76, 76, 75, 77, 77, 77]
1    [72, 73, 73, 73, 73, 75, 75, 75, 75, 75, 77, 77]
2      [22, 8, 12, 19, 20, 18, 16, 13, 7, 41, 38, 22]
3    [55, 54, 55, 54, 55, 55, 52, 54, 54, 54, 54, 54]
4    [59, 59, 59, 59, 59, 59, 57, 55, 55, 54, 52, 52]
..                                                ...
300    [0, 0, 57, 55, 52, 48, 46, 46, 48, 45, 45, 45]
301  [59, 59, 57, 59, 59, 64, 63, 59, 61, 63, 64, 61]
302  [37, 37, 36, 36, 36, 36, 36, 34, 34, 34, 36, 32]
303  [34, 32, 36, 36, 30, 34, 32, 36, 34, 34, 34, 36]
304  [55, 57, 57, 59, 59, 61, 61, 63, 61, 59, 59, 59]

                                          Humidity (%)  \
0     [85, 86, 86, 88, 90, 90, 94, 89, 74, 62, 55, 53]
1     [78, 79, 79, 74, 70, 70, 66, 62, 59, 56, 56, 53]
2     [74, 79, 84, 79, 74, 79, 83, 83, 83, 94, 94, 89]
3     [47, 39, 37, 31, 31, 31, 31, 31, 35, 39, 42, 47]
4     [64, 61, 61, 57, 57, 54, 53, 53, 60, 60, 64, 68]
..                                                 ...
300     [0, 0, 94, 73, 56, 49, 41, 41, 41, 34, 34, 34]
301  [100, 100, 100, 100, 100, 94, 78, 64, 69, 69, ...
302  [100, 100, 93, 93, 87, 87, 81, 76, 70, 76, 87,...
303   [66, 61, 62, 54, 38, 44, 36, 39, 34, 34, 32, 37]
304   [77, 77, 73, 68, 61, 61, 54, 54, 48, 40, 38, 36]

                                     Wind Speed (mph)  \
0                [2, 3, 3, 3, 4, 4, 2, 4, 2, 4, 6, 6]
1                [5, 6, 2, 5, 7, 5, 5, 7, 5, 6, 5, 2]
2    [18, 18, 20, 21, 20, 20, 20, 20, 17, 10, 11, 11]
3        [3, 6, 8, 12, 13, 15, 16, 18, 15, 15, 13, 9]
4    [13, 17, 18, 17, 21, 23, 21, 23, 18, 20, 17, 15]
..                                                ...
300              [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
301              [3, 8, 9, 5, 9, 7, 2, 5, 2, 9, 7, 5]
302   [10, 10, 16, 14, 13, 8, 12, 13, 10, 10, 10, 10]
303             [8, 10, 2, 5, 3, 2, 3, 3, 3, 7, 8, 9]
304          [8, 9, 8, 7, 10, 10, 12, 9, 10, 7, 7, 5]

                                         Pressure (in)  \
0    [29.8, 29.83, 29.83, 29.86, 29.86, 29.8, 29.83...
1    [29.64, 29.64, 29.64, 29.64, 29.67, 29.67, 29....
2    [30.09, 30.09, 30.06, 30.06, 30.06, 30.06, 30....
3    [28.31, 28.31, 28.28, 28.25, 28.25, 28.22, 28....
4    [29.87, 29.84, 29.84, 29.84, 29.81, 29.81, 29....
..                                                 ...
300  [28.99, 29.0, 29.0, 29.01, 29.0, 28.99, 28.99,...
301  [28.49, 28.48, 28.5, 28.48, 28.46, 28.49, 28.4...
302  [28.7, 28.76, 28.81, 28.86, 28.89, 28.92, 28.9...
303  [29.19, 29.2, 29.21, 29.22, 29.22, 29.22, 29.2...
304  [29.51, 29.5, 29.49, 29.48, 29.46, 29.45, 29.4...

                       Percipitation (in)  \
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
1    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
2    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
3    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
4    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
..                                    ...
300  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
301  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
302  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
303  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
304  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

                                             Condition  Type Of Location  \
0    [Fair, Fair, Partly Cloudy, Fair, Fair, Partly...         Mounatins
1    [Fair, Fair, Fair, Fair, Windy, Windy, Windy, ...     Coastal Hills
2    [Fair, Partly Cloudy, Mostly Cloudy, Fair, Par...         Mountains
3    [Fair, Fair, Fair, Fair, Fair, Fair, Fair, Fai...  Coastal Mountain
4    [Fair, Fair, Fair, Fair, Windy, Windy, Windy, ...   Costal Mountain
..                                                 ...               ...
300  [Fog, Partly Cloudy, Fair, Fair, Partly Cloudy...               NaN
301  [Thunder, Thunder, Thunder, Light Rain with Th...               NaN
302  [Cloudy, Mist, Cloudy, Cloudy, Light Rain, Clo...               NaN
303  [Mostly Cloudy, Mostly Cloudy, Partly Cloudy, ...               NaN
304  [Partly Cloudy, Fair, Fair, Fair, Fair, Fair, ...               NaN

     Y-Value
0       Fire
1       Fire
2       Fire
3       Fire
4       Fire
..       ...
300  No Fire
301  No Fire
302  No Fire
303  No Fire
304  No Fire

[305 rows x 13 columns]

## Verifying Data Ain't Trash

### Categorical Stuff

In [20]:
categorical_column_labels = ["Season Started", "Locations Affected", "Condition", "Type Of Location", "Y-Value"]
categorical_scalar_column_labels = ["Season Started", "Locations Affected", "Type Of Location", "Y-Value"]

In [21]:
for cl in categorical_scalar_column_labels:
    print(df[cl].value_counts())
    print()

Season Started
Summer    135
Spring     75
Fall       49
Winter     46
Name: count, dtype: int64

Locations Affected
California                23
MB                        19
BC                        19
AB                        18
Yellowknife               12
                          ..
North Rhine-Westphalia     1
South Holland              1
Hailey                     1
Yosemite National Park     1
Santa Rosa                 1
Name: count, Length: 110, dtype: int64

Type Of Location
Forest               77
Mountains            59
Hills                16
Arctic               11
Coastal Forest       10
Coastal Mountains    10
Rainforest            8
Flat                  8
Plains                6
Grasslands            6
Costal Mountain       5
Desert                4
Swamp                 3
Costal Forest         3
Coastal Hills         3
Coastal Lowland       2
Coastal Mountain      1
Mounatins             1
Costal Mountains      1
Coastal               1
Name: count, dtype: int64

Y-Value
Fire        155
No Fire      93
Not Fire     57
Name: count, dtype: int64

### Vector Stuff

In [22]:
vector_columns = df[vector_column_labels]

In [23]:
# Verifying all are ndarray
is_ndarray = vector_columns.map(lambda x: isinstance(x, np.ndarray))
is_ndarray.all().all()

True

In [24]:
desired_shape = (12,)

shape = vector_columns.map(lambda x: x.shape)
# shape == desired_shape  # INVALID SYNTAX
is_desired_shape = shape.map(lambda x: x == desired_shape)

# Shorter version
is_desired_shape = vector_columns.map(lambda x: x.shape == desired_shape)

# Boolean series containing whether all vectors in that row are of the desired shape
valid_shape_rows = is_desired_shape.all(axis=1)

# Whether all vectors are of desired shape
is_desired_shape.all().all()

True

## Generating Stats

Generate minimum, average, and maximum values for specified columns

In [25]:
# Columns to generate stats for
columns_to_process = numerical_vector_column_labels

# Function to compute min, avg, and max and return as a Series
def compute_stats(arr):
    return pd.Series([np.min(arr), np.mean(arr), np.max(arr)], index=['min', 'avg', 'max'])

# New DataFrame to store results
new_df = pd.DataFrame()

# Iterate over specified columns
for col in df.columns:
    # If the column contains numpy arrays and is in the columns to process
    if col in columns_to_process:  # and np.issubdtype(df[col].dtype, np.ndarray)
        # Compute statistics for each numpy array element in the column
        stats = df[col].apply(compute_stats)
        # Rename columns to include the statistics
        stats.columns = [f"{col}_min", f"{col}_avg", f"{col}_max"]
        # Concatenate the statistics columns with the original column and insert them into the new DataFrame
        new_df = pd.concat([new_df, df[col], stats], axis=1)
    else:
        # If not a numpy array column or not in columns to process, copy it to the new DataFrame
        new_df[col] = df[col]

print(new_df)

           Fire Name  Year Season Started Locations Affected  \
0         Cagua Fire  2020         Winter             Aragua
1      Vietnam Fires  2019         Summer            Da Nang
2    Chile Wildfires  2024         Winter          O'Higgins
3    Chile Wildfires  2024         Winter         Valparaíso
4    Chile Wildfires  2023         Winter              Maule
..               ...   ...            ...                ...
300              NaN  2020         Summer                 MB
301              NaN  2020         Summer                 MB
302              NaN  2020           Fall                 MB
303              NaN  2020         Summer                 NT
304              NaN  2020         Summer                 NT

                                      Temperature (F)  Temperature (F)_min  \
0    [75, 75, 73, 73, 72, 72, 71, 72, 72, 78, 82, 81]                 71.0
1    [79, 81, 81, 82, 84, 86, 88, 90, 91, 93, 95, 97]                 79.0
2    [78, 78, 78, 80, 82, 78, 77, 77, 77, 75, 73, 73]                 73.0
3    [77, 81, 84, 88, 90, 90, 88, 86, 84, 81, 79, 75]                 75.0
4    [72, 73, 73, 73, 75, 77, 75, 73, 70, 68, 64, 63]                 63.0
..                                                ...                  ...
300  [54, 57, 59, 64, 68, 68, 72, 72, 73, 75, 75, 75]                 54.0
301  [59, 59, 57, 59, 59, 66, 70, 72, 72, 73, 73, 72]                 57.0
302  [37, 37, 37, 37, 39, 39, 41, 41, 43, 41, 39, 37]                 37.0
303  [45, 45, 48, 52, 55, 55, 59, 61, 63, 63, 64, 63]                 45.0
304  [63, 64, 66, 70, 73, 75, 79, 81, 82, 86, 88, 90]                 63.0

     Temperature (F)_avg  Temperature (F)_max  \
0              74.666667                 82.0
1              87.250000                 97.0
2              77.166667                 82.0
3              83.583333                 90.0
4              71.333333                 77.0
..                   ...                  ...
300            67.666667                 75.0
301            65.916667                 73.0
302            39.000000                 43.0
303            56.083333                 64.0
304            76.416667                 90.0

                                         Dewpoint (F)  Dewpoint (F)_min  ...  \
0    [75, 75, 76, 76, 76, 76, 76, 76, 75, 77, 77, 77]              75.0  ...
1    [72, 73, 73, 73, 73, 75, 75, 75, 75, 75, 77, 77]              72.0  ...
2      [22, 8, 12, 19, 20, 18, 16, 13, 7, 41, 38, 22]               7.0  ...
3    [55, 54, 55, 54, 55, 55, 52, 54, 54, 54, 54, 54]              52.0  ...
4    [59, 59, 59, 59, 59, 59, 57, 55, 55, 54, 52, 52]              52.0  ...
..                                                ...               ...  ...
300    [0, 0, 57, 55, 52, 48, 46, 46, 48, 45, 45, 45]               0.0  ...
301  [59, 59, 57, 59, 59, 64, 63, 59, 61, 63, 64, 61]              57.0  ...
302  [37, 37, 36, 36, 36, 36, 36, 34, 34, 34, 36, 32]              32.0  ...
303  [34, 32, 36, 36, 30, 34, 32, 36, 34, 34, 34, 36]              30.0  ...
304  [55, 57, 57, 59, 59, 61, 61, 63, 61, 59, 59, 59]              55.0  ...

     Pressure (in)_min  Pressure (in)_avg Pressure (in)_max  \
0                29.80          29.835000             29.86
1                29.64          29.652500             29.67
2                30.03          30.067500             30.09
3                28.22          28.252500             28.31
4                29.78          29.822500             29.87
..                 ...                ...               ...
300              28.95          28.982500             29.01
301              28.46          28.486667             28.50
302              28.70          28.914167             29.06
303              29.19          29.209167             29.22
304              29.37          29.442500             29.51

                       Percipitation (in)  Percipitation (in)_min  \
0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]                     0.0
1    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]                     0.0
2    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]                     0.0
3    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]                     0.0
4    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]                     0.0
..                                    ...                     ...
300  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]                     0.0
301  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]                     0.0
302  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]                     0.0
303  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]                     0.0
304  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]                     0.0

     Percipitation (in)_avg Percipitation (in)_max  \
0                       0.0                    0.0
1                       0.0                    0.0
2                       0.0                    0.0
3                       0.0                    0.0
4                       0.0                    0.0
..                      ...                    ...
300                     0.0                    0.0
301                     0.0                    0.0
302                     0.0                    0.0
303                     0.0                    0.0
304                     0.0                    0.0

                                             Condition  Type Of Location  \
0    [Fair, Fair, Partly Cloudy, Fair, Fair, Partly...         Mounatins
1    [Fair, Fair, Fair, Fair, Windy, Windy, Windy, ...     Coastal Hills
2    [Fair, Partly Cloudy, Mostly Cloudy, Fair, Par...         Mountains
3    [Fair, Fair, Fair, Fair, Fair, Fair, Fair, Fai...  Coastal Mountain
4    [Fair, Fair, Fair, Fair, Windy, Windy, Windy, ...   Costal Mountain
..                                                 ...               ...
300  [Fog, Partly Cloudy, Fair, Fair, Partly Cloudy...               NaN
301  [Thunder, Thunder, Thunder, Light Rain with Th...               NaN
302  [Cloudy, Mist, Cloudy, Cloudy, Light Rain, Clo...               NaN
303  [Mostly Cloudy, Mostly Cloudy, Partly Cloudy, ...               NaN
304  [Partly Cloudy, Fair, Fair, Fair, Fair, Fair, ...               NaN

     Y-Value
0       Fire
1       Fire
2       Fire
3       Fire
4       Fire
..       ...
300  No Fire
301  No Fire
302  No Fire
303  No Fire
304  No Fire

[305 rows x 31 columns]

In [26]:
df = new_df

## Data Preparation

### 1. Dealing with missing values

Checking element values

In [27]:
# Only select for columns where we care if values are missing (do not care if we are missing Fire Name)
isna = df.loc[:, "Year":"Y-Value"].isna()
isna.sum()[isna.any()]

Type Of Location    70
dtype: int64

Checking contents for numpy arrays (numerical only)

In [28]:
not df[numerical_vector_column_labels].map(lambda x: np.any(np.isnan(x))).any().any()

True

### 2. Dealing with duplicates

TBD

### 3. Dealing with categorical data

In [29]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [30]:
unencoded_df = df.copy(deep=True)
# Columns containing single categorical values
for cl in categorical_scalar_column_labels:
    df[cl] = le.fit_transform(df[cl])

# Columns containing categorical vector values
for cl in categorical_vector_column_labels:
    le.fit(np.concatenate(df['Condition']))
    df[cl] = df[cl].apply(le.transform)
print(df['Y-Value'].value_counts())
print(unencoded_df['Y-Value'].value_counts())

Y-Value
0    155
1     93
2     57
Name: count, dtype: int64
Y-Value
Fire        155
No Fire      93
Not Fire     57
Name: count, dtype: int64

### 4. Dealing with Outliers

TBD

### 5. Partitioning a data set

In [43]:
# Replace y value
# with pd.option_context('future.no_silent_downcasting', True):
fire_map = {'Fire': 1, 'Fire\r\n': 1, 'No Fire': 0, 'Not Fire': 0}
coded_df = pd.DataFrame()
coded_df['Y-Value_encoded'] = unencoded_df['Y-Value'].replace(fire_map).astype(int)
coded_df['Y-Value_encoded'].value_counts()

Y-Value_encoded
1    155
0    150
Name: count, dtype: int64

In [55]:
# Replace seasons
# a = unencoded_df['Season Started'].unique()
# replace_dict = {k:v for v, k in enumerate(a)}
# print(replace_dict)
# coded_df['Season Started_enc'] = unencoded_df['Season Started'].replace(replace_dict)
coded_df['Season Started_enc'] = df['Season Started']
coded_df['Season Started_enc'].value_counts()

Season Started_enc
2    135
1     75
0     49
3     46
Name: count, dtype: int64

In [56]:
# Locations Affected
# print(df['Locations Affected'].value_counts())
# b = df['Locations Affected'].unique()
# replace_dict = {k:v for v, k in enumerate(b)}
# print(replace_dict)
# coded_df['Locations Affected_enc'] = unencoded_df['Locations Affected'].replace(replace_dict)
coded_df['Locations Affected_enc'] = df['Locations Affected']
coded_df['Locations Affected_enc'].value_counts()

Locations Affected_enc
20     23
42     19
13     19
0      18
108    12
       ..
62      1
89      1
31      1
109     1
84      1
Name: count, Length: 110, dtype: int64

In [58]:
coded_df['Type Of Location_enc'] = df['Type Of Location']
coded_df['Type Of Location_enc'].value_counts()

Type Of Location_enc
12    77
20    70
16    59
14    16
0     11
6     10
2     10
11     8
18     8
17     6
13     6
8      5
10     4
19     3
7      3
3      3
4      2
5      1
15     1
9      1
1      1
Name: count, dtype: int64

In [77]:
def str_to_list(x):
    test = ''
    if type(x) == type(test):
        values = x.replace(',','').replace('[','').replace(']','').split(' ')
        values = list(filter(None, values))
    else:
        values = x
    # Remove empty strings
    l = [float(val) for val in values]
    return l

def arr_to_intlist(x):
    l = [int(val) for val in x]
    return l

list_columns = numerical_vector_column_labels

added_cols = []

# First split numerical columns
for col in list_columns:
    if (df[col].dtype == 'object'):
        df[col] = df[col].apply(str_to_list if col != 'Condition' else arr_to_intlist)
    
    new_columns = [col + str(x) for x in range(12)]
    added_cols = added_cols + new_columns
    coded_df[new_columns] = pd.DataFrame(df[col].tolist(), columns=new_columns)
    print(coded_df[new_columns])

     Temperature (F)0  Temperature (F)1  Temperature (F)2  Temperature (F)3  \
0                75.0              75.0              73.0              73.0
1                79.0              81.0              81.0              82.0
2                78.0              78.0              78.0              80.0
3                77.0              81.0              84.0              88.0
4                72.0              73.0              73.0              73.0
..                ...               ...               ...               ...
300              54.0              57.0              59.0              64.0
301              59.0              59.0              57.0              59.0
302              37.0              37.0              37.0              37.0
303              45.0              45.0              48.0              52.0
304              63.0              64.0              66.0              70.0

     Temperature (F)4  Temperature (F)5  Temperature (F)6  Temperature (F)7  \
0                72.0              72.0              71.0              72.0
1                84.0              86.0              88.0              90.0
2                82.0              78.0              77.0              77.0
3                90.0              90.0              88.0              86.0
4                75.0              77.0              75.0              73.0
..                ...               ...               ...               ...
300              68.0              68.0              72.0              72.0
301              59.0              66.0              70.0              72.0
302              39.0              39.0              41.0              41.0
303              55.0              55.0              59.0              61.0
304              73.0              75.0              79.0              81.0

     Temperature (F)8  Temperature (F)9  Temperature (F)10  Temperature (F)11
0                72.0              78.0               82.0               81.0
1                91.0              93.0               95.0               97.0
2                77.0              75.0               73.0               73.0
3                84.0              81.0               79.0               75.0
4                70.0              68.0               64.0               63.0
..                ...               ...                ...                ...
300              73.0              75.0               75.0               75.0
301              72.0              73.0               73.0               72.0
302              43.0              41.0               39.0               37.0
303              63.0              63.0               64.0               63.0
304              82.0              86.0               88.0               90.0

[305 rows x 12 columns]
     Dewpoint (F)0  Dewpoint (F)1  Dewpoint (F)2  Dewpoint (F)3  \
0             75.0           75.0           76.0           76.0
1             72.0           73.0           73.0           73.0
2             22.0            8.0           12.0           19.0
3             55.0           54.0           55.0           54.0
4             59.0           59.0           59.0           59.0
..             ...            ...            ...            ...
300            0.0            0.0           57.0           55.0
301           59.0           59.0           57.0           59.0
302           37.0           37.0           36.0           36.0
303           34.0           32.0           36.0           36.0
304           55.0           57.0           57.0           59.0

     Dewpoint (F)4  Dewpoint (F)5  Dewpoint (F)6  Dewpoint (F)7  \
0             76.0           76.0           76.0           76.0
1             73.0           75.0           75.0           75.0
2             20.0           18.0           16.0           13.0
3             55.0           55.0           52.0           54.0
4             59.0           59.0           57.0           55.0
..             ...            ...            ...            ...
300           52.0           48.0           46.0           46.0
301           59.0           64.0           63.0           59.0
302           36.0           36.0           36.0           34.0
303           30.0           34.0           32.0           36.0
304           59.0           61.0           61.0           63.0

     Dewpoint (F)8  Dewpoint (F)9  Dewpoint (F)10  Dewpoint (F)11
0             75.0           77.0            77.0            77.0
1             75.0           75.0            77.0            77.0
2              7.0           41.0            38.0            22.0
3             54.0           54.0            54.0            54.0
4             55.0           54.0            52.0            52.0
..             ...            ...             ...             ...
300           48.0           45.0            45.0            45.0
301           61.0           63.0            64.0            61.0
302           34.0           34.0            36.0            32.0
303           34.0           34.0            34.0            36.0
304           61.0           59.0            59.0            59.0

[305 rows x 12 columns]
     Humidity (%)0  Humidity (%)1  Humidity (%)2  Humidity (%)3  \
0             85.0           86.0           86.0           88.0
1             78.0           79.0           79.0           74.0
2             74.0           79.0           84.0           79.0
3             47.0           39.0           37.0           31.0
4             64.0           61.0           61.0           57.0
..             ...            ...            ...            ...
300            0.0            0.0           94.0           73.0
301          100.0          100.0          100.0          100.0
302          100.0          100.0           93.0           93.0
303           66.0           61.0           62.0           54.0
304           77.0           77.0           73.0           68.0

     Humidity (%)4  Humidity (%)5  Humidity (%)6  Humidity (%)7  \
0             90.0           90.0           94.0           89.0
1             70.0           70.0           66.0           62.0
2             74.0           79.0           83.0           83.0
3             31.0           31.0           31.0           31.0
4             57.0           54.0           53.0           53.0
..             ...            ...            ...            ...
300           56.0           49.0           41.0           41.0
301          100.0           94.0           78.0           64.0
302           87.0           87.0           81.0           76.0
303           38.0           44.0           36.0           39.0
304           61.0           61.0           54.0           54.0

     Humidity (%)8  Humidity (%)9  Humidity (%)10  Humidity (%)11
0             74.0           62.0            55.0            53.0
1             59.0           56.0            56.0            53.0
2             83.0           94.0            94.0            89.0
3             35.0           39.0            42.0            47.0
4             60.0           60.0            64.0            68.0
..             ...            ...             ...             ...
300           41.0           34.0            34.0            34.0
301           69.0           69.0            73.0            69.0
302           70.0           76.0            87.0            81.0
303           34.0           34.0            32.0            37.0
304           48.0           40.0            38.0            36.0

[305 rows x 12 columns]
     Wind Speed (mph)0  Wind Speed (mph)1  Wind Speed (mph)2  \
0                  2.0                3.0                3.0
1                  5.0                6.0                2.0
2                 18.0               18.0               20.0
3                  3.0                6.0                8.0
4                 13.0               17.0               18.0
..                 ...                ...                ...
300                0.0                0.0                0.0
301                3.0                8.0                9.0
302               10.0               10.0               16.0
303                8.0               10.0                2.0
304                8.0                9.0                8.0

     Wind Speed (mph)3  Wind Speed (mph)4  Wind Speed (mph)5  \
0                  3.0                4.0                4.0
1                  5.0                7.0                5.0
2                 21.0               20.0               20.0
3                 12.0               13.0               15.0
4                 17.0               21.0               23.0
..                 ...                ...                ...
300                0.0                0.0                0.0
301                5.0                9.0                7.0
302               14.0               13.0                8.0
303                5.0                3.0                2.0
304                7.0               10.0               10.0

     Wind Speed (mph)6  Wind Speed (mph)7  Wind Speed (mph)8  \
0                  2.0                4.0                2.0
1                  5.0                7.0                5.0
2                 20.0               20.0               17.0
3                 16.0               18.0               15.0
4                 21.0               23.0               18.0
..                 ...                ...                ...
300                0.0                0.0                0.0
301                2.0                5.0                2.0
302               12.0               13.0               10.0
303                3.0                3.0                3.0
304               12.0                9.0               10.0

     Wind Speed (mph)9  Wind Speed (mph)10  Wind Speed (mph)11
0                  4.0                 6.0                 6.0
1                  6.0                 5.0                 2.0
2                 10.0                11.0                11.0
3                 15.0                13.0                 9.0
4                 20.0                17.0                15.0
..                 ...                 ...                 ...
300                0.0                 0.0                 0.0
301                9.0                 7.0                 5.0
302               10.0                10.0                10.0
303                7.0                 8.0                 9.0
304                7.0                 7.0                 5.0

[305 rows x 12 columns]
     Pressure (in)0  Pressure (in)1  Pressure (in)2  Pressure (in)3  \
0             29.80           29.83           29.83           29.86
1             29.64           29.64           29.64           29.64
2             30.09           30.09           30.06           30.06
3             28.31           28.31           28.28           28.25
4             29.87           29.84           29.84           29.84
..              ...             ...             ...             ...
300           28.99           29.00           29.00           29.01
301           28.49           28.48           28.50           28.48
302           28.70           28.76           28.81           28.86
303           29.19           29.20           29.21           29.22
304           29.51           29.50           29.49           29.48

     Pressure (in)4  Pressure (in)5  Pressure (in)6  Pressure (in)7  \
0             29.86           29.80           29.83           29.83
1             29.67           29.67           29.67           29.67
2             30.06           30.06           30.06           30.03
3             28.25           28.22           28.22           28.22
4             29.81           29.81           29.81           29.78
..              ...             ...             ...             ...
300           29.00           28.99           28.99           28.97
301           28.46           28.49           28.49           28.49
302           28.89           28.92           28.95           28.97
303           29.22           29.22           29.22           29.21
304           29.46           29.45           29.44           29.42

     Pressure (in)8  Pressure (in)9  Pressure (in)10  Pressure (in)11
0             29.86           29.86            29.83            29.83
1             29.67           29.64            29.64            29.64
2             30.06           30.06            30.09            30.09
3             28.22           28.22            28.25            28.28
4             29.78           29.81            29.84            29.84
..              ...             ...              ...              ...
300           28.97           28.96            28.96            28.95
301           28.49           28.48            28.49            28.50
302           28.99           29.02            29.04            29.06
303           29.20           29.20            29.21            29.21
304           29.41           29.40            29.38            29.37

[305 rows x 12 columns]
     Percipitation (in)0  Percipitation (in)1  Percipitation (in)2  \
0                    0.0                  0.0                  0.0
1                    0.0                  0.0                  0.0
2                    0.0                  0.0                  0.0
3                    0.0                  0.0                  0.0
4                    0.0                  0.0                  0.0
..                   ...                  ...                  ...
300                  0.0                  0.0                  0.0
301                  0.0                  0.0                  0.0
302                  0.0                  0.0                  0.0
303                  0.0                  0.0                  0.0
304                  0.0                  0.0                  0.0

     Percipitation (in)3  Percipitation (in)4  Percipitation (in)5  \
0                    0.0                  0.0                  0.0
1                    0.0                  0.0                  0.0
2                    0.0                  0.0                  0.0
3                    0.0                  0.0                  0.0
4                    0.0                  0.0                  0.0
..                   ...                  ...                  ...
300                  0.0                  0.0                  0.0
301                  0.0                  0.0                  0.0
302                  0.0                  0.0                  0.0
303                  0.0                  0.0                  0.0
304                  0.0                  0.0                  0.0

     Percipitation (in)6  Percipitation (in)7  Percipitation (in)8  \
0                    0.0                  0.0                  0.0
1                    0.0                  0.0                  0.0
2                    0.0                  0.0                  0.0
3                    0.0                  0.0                  0.0
4                    0.0                  0.0                  0.0
..                   ...                  ...                  ...
300                  0.0                  0.0                  0.0
301                  0.0                  0.0                  0.0
302                  0.0                  0.0                  0.0
303                  0.0                  0.0                  0.0
304                  0.0                  0.0                  0.0

     Percipitation (in)9  Percipitation (in)10  Percipitation (in)11
0                    0.0                   0.0                   0.0
1                    0.0                   0.0                   0.0
2                    0.0                   0.0                   0.0
3                    0.0                   0.0                   0.0
4                    0.0                   0.0                   0.0
..                   ...                   ...                   ...
300                  0.0                   0.0                   0.0
301                  0.0                   0.0                   0.0
302                  0.0                   0.0                   0.0
303                  0.0                   0.0                   0.0
304                  0.0                   0.0                   0.0

[305 rows x 12 columns]

In [83]:
from sklearn.model_selection import train_test_split

target_var = 'Y-Value_encoded'
feature_var = ['Season Started_enc', 'Locations Affected_enc', 'Type Of Location_enc'] + added_cols
X_train, X_test, y_train, y_test = train_test_split(coded_df[feature_var], coded_df[target_var], test_size=0.2, shuffle=True, random_state=101)

In [84]:
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.model_selection import LeaveOneOut
from sklearn.model_selection import RepeatedKFold

repeatkf = RepeatedKFold(n_splits=5, n_repeats=10, random_state=None)

loo = LeaveOneOut()

kfold = KFold(n_splits=10, shuffle=True, random_state=6969)

model = GaussianNB()
model.fit(X_train, y_train) 

prediction = model.predict(X_test)

print('CV accuracy scores are', cross_val_score(model, X_train, y_train, scoring='accuracy', cv= kfold, n_jobs=-1))

print('The average KFold scores is', np.mean(cross_val_score(model, X_train, y_train, scoring='accuracy', cv=kfold, n_jobs=-1)))
print('The average LOOCV score is', np.mean(cross_val_score(model, X_train, y_train, scoring='accuracy', cv=loo, n_jobs=-1)))
print('The average RepeatedKFold score is', np.mean(cross_val_score(model, X_train, y_train, cv=repeatkf, n_jobs=-1)))

CV accuracy scores are [0.48       0.8        0.72       0.72       0.66666667 0.5
 0.66666667 0.70833333 0.66666667 0.75      ]
The average KFold scores is 0.6678333333333334
The average LOOCV score is 0.6639344262295082
The average RepeatedKFold score is 0.6763265306122449

In [67]:
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier

# Set parameter to be searched in a range
params = {'n_neighbors': range(1,150)}

# Initiate the KNN model and GridSearchCV function
knn = KNeighborsClassifier()
grid_knn = GridSearchCV(estimator=knn, param_grid=params,
                        scoring='accuracy', cv=5)

# Fit the function to train set 
grid_knn.fit(X_train, y_train)

# Find the best parameter and see how well it performs on test set
print(grid_knn.best_params_)
print(grid_knn.score(X_test, y_test))
print(grid_knn.cv_results_['mean_test_score'])

{'n_neighbors': 26}
0.7540983606557377
[0.72168367 0.72142857 0.74991497 0.72542517 0.72559524 0.7255102
 0.72151361 0.7502551  0.72967687 0.73784014 0.71743197 0.7297619
 0.71760204 0.73392857 0.7422619  0.74217687 0.7422619  0.74217687
 0.7422619  0.73818027 0.7422619  0.73809524 0.74617347 0.7420068
 0.7585034  0.76258503 0.7585034  0.75442177 0.75442177 0.7462585
 0.7585034  0.75442177 0.75034014 0.75442177 0.75034014 0.75442177
 0.75442177 0.7585034  0.7585034  0.76258503 0.75034014 0.74617347
 0.75034014 0.74617347 0.74617347 0.74617347 0.74617347 0.74617347
 0.74617347 0.7502551  0.74617347 0.74617347 0.7502551  0.74617347
 0.7502551  0.75433673 0.7502551  0.7502551  0.7502551  0.74617347
 0.74617347 0.7502551  0.75442177 0.7502551  0.74617347 0.7502551
 0.74617347 0.7502551  0.74617347 0.7502551  0.7502551  0.7502551
 0.74617347 0.7502551  0.7502551  0.75433673 0.75841837 0.7502551
 0.7502551  0.7502551  0.74617347 0.7502551  0.74617347 0.74209184
 0.7380102  0.74209184 0.74617347 0.74209184 0.7380102  0.73384354
 0.73384354 0.73384354 0.7462585  0.7462585  0.75034014 0.7502551
 0.7502551  0.74209184 0.73809524 0.73401361 0.7422619  0.73401361
 0.73401361 0.73809524 0.7380102  0.7380102  0.7380102  0.7380102
 0.74217687 0.73384354 0.73809524 0.73809524 0.73809524 0.73401361
 0.74217687 0.74217687 0.7462585  0.74217687 0.74217687 0.74217687
 0.74217687 0.75042517 0.73809524 0.74217687 0.73809524 0.73809524
 0.73809524 0.74217687 0.74217687 0.74217687 0.73809524 0.73809524
 0.73809524 0.73809524 0.73401361 0.73809524 0.73792517 0.73392857
 0.73384354 0.74217687 0.73809524 0.73818027 0.73409864 0.73409864
 0.72568027 0.73392857 0.72151361 0.72568027 0.7255102 ]

### 6. Feature scaling

TBD

### 7. Data visualization

TBD